*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#navbar{
    background-color: #FFFFFF;
    max-width: 1600px;
}

#navbar .nav-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-weight: 600;
}

.btn:hover, .special-button:hover, .video-btn{
    cursor: pointer;
    background-color: gray;
}

#header{
    width: 100%;
    max-width: 1600px;
    background-image: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#header .header-container{
    padding: 115.5px 120px 179.5px;
    width: 85%;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;    
    align-items: center;

}

.header-container .special-button{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 1000px;
    text-align: center;
    gap: 6px;
}

.header-container .heading h1{
    color: #FFFFFF;
    font-size: 77px;
    font-weight: bold;
    opacity: 90%;
}

.green {
    color: #30B868;
}

.header-container .heading p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
}

.header-container ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 32px auto 0;
    gap: 16px;
}

.video-btn{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-weight: 600;
}