*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#navbar{
    background-color: #FFFFFF;
    max-width: 1600px;
}

#navbar .nav-container{
    /* width: 85%;
    max-width: 1360px; */
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-weight: 600;
}

.btn:hover, .special-button:hover, .video-btn{
    cursor: pointer;
    background-color: gray;
}

#header{
    width: 100%;
    max-width: 1600px;
    background-image: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#header .header-container{
    padding: 115.5px 120px 179.5px;
    width: 85%;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;    
    align-items: center;

}

.header-container .special-button{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 1000px;
    text-align: center;
    gap: 6px;
}

.header-container .heading h1{
    color: #FFFFFF;
    font-size: 77px;
    font-weight: bold;
    opacity: 90%;
}

.green {
    color: #30B868;
}

.header-container .heading p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
}

.header-container ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 32px auto 0;
    gap: 16px;
}

.video-btn{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-weight: 600;
}

#second{
    text-align: center;
    margin: 0 auto;
    padding: 0 120px;
    background-color: #f1ddcd32;
}

#second .second-header{
    text-align: center;
    margin: 0 auto;
}

.second-header h2{
    padding-top: 69px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.second-header p{
    line-height: 20px;
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

#second .cards-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 24px;
}

.cards-container .card{
    height: 300px;
    width: 322px;
    align-items: center;
    padding: 69.5px 24px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 #0000002e ;
}

.card img{
    background-color: #F95555;
    color: #FFFFFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 14px;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}

.card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
}

#third{
    padding: 120px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 60px;
}

#third .image{
    width: 600px;
    height: 600px;
}

#third .third-info{
    width: 760px;
    
}

.third-info h6{
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
    line-height: 20px;
    font-weight: 500;
}

.third-info h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.third-info p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}

.third-info ul{
    list-style: none;
}

.third-info ul li{
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    color: #001931;
    font-weight: 500;
}

.third-info ul li img{
    height: 20px;
    width: 20px;
}

#fourth{
    margin: 2px 120px 120px;
    background-color: #F7F6F2;
    border-radius: 12px;
}

#fourth .fourth-container{
    padding: 80px 40px;    
    text-align: center;
}

.fourth-container h2{
    font-size: 40px;
    color: #001931;
    font-weight: bold;
}

.fourth-container p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-top: 16px;
}

.fourth-container .margin{
    margin-top: 24px;
}

#footer{
    height: 348px;
    background-color: #001931;
    padding: 120px 120px 30px;
}

#footer .foot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.foot .div1{
    height: 60px;
    width: 140px;
}

.foot .div2 p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: white;
    margin-bottom: 16px;
}

.foot .div2 ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

.div2 ul li img{
    width: 20px;
    height: 20px;
}

.copyright{
    border-top: 1px solid #E5E7EB;
    text-align: center;
}

.copyright p{
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin-top: 30px;
}